DB_CONNECTION_STRING="user=postgres password=postgres host=localhost port=5432 dbname=project_manager"
PORT="3000"
APP_ENV="development"
CORS_ALLOWED_ORIGINS="http://localhost:5173,http://localhost:3000"
TRUSTED_PROXIES="127.0.0.1,::1"
